.topbar{
  background-color: #FFECDE;
  height: 19%;
  position: relative;
}

#logo {
  position: relative;
  float: left;
  margin: 0 0 0 1%;
}

.navbar-pos{
  position: absolute;
  margin-right: 1%;
  margin-left: 60%;
  padding-right: 0.25rem;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

@media screen and (max-width: 37.5rem) {
  .topbar {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0.875rem;
  }
}
