.sidenavContainer {
    position: page;
  margin-top: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sidenavContent{
  justify-content: flex-end !important;
  text-align: left;
  margin-top: 0rem;
}

#sidenav {
  position: relative;
  overflow-y: hidden !important;
}

.mat-drawer-inner-container {
  overflow-y: hidden !important;
}

#sidenav > mat-toolbar {
  text-align: left;
}

mat-button-toggle {
  text-align: left;
}

#toggleButton {
  position: fixed;
  bottom: 2%;
  left: 2%;
  color: #6610f2;
  border-radius: 10%;
  background-color: #e7e7e7;
}

#content {
  position: absolute !important;
  width: 100%;
  display: inline-block;
  justify-content: center;
  margin-top: 0%;
}

.insideContent{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #e7e7e7;
  padding-bottom: 5%;
}

.boxContent{
  margin-left: 2%;
  margin-right: 2%;
}


.mat-toolbar-row, .mat-toolbar-single-row{
  justify-content: center;
  display: flex;
  margin: auto;
  padding: 1rem 1rem;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 3rem;
}

.navigateIcon1{
  grid-column: 2;
  grid-row: 1;
  height: 3rem;
  margin-top: 1rem;
}
.navigateIcon2{
  grid-column: 2;
  grid-row: 2;
  height: 3rem;
  margin-top: 1rem;
}
.navigateIcon3{
  grid-column: 2;
  grid-row: 3;
  height: 3rem;
  margin-top: 1rem;
}
.navigateIcon4{
  grid-column: 2;
  grid-row: 4;
  height: 3rem;
  margin-top: 1rem;
}

.navigateButton1{
  grid-column: 1;
  grid-row: 1;
  height: 3rem;
}
.navigateButton2{
  grid-column: 1;
  grid-row: 2;
  height: 3rem;
}
.navigateButton3{
  grid-column: 1;
  grid-row: 3;
  height: 3rem;
}
.navigateButton4{
   grid-column: 1;
   grid-row: 4;
  height: 3rem;
}

#toggleButtonBack {
  position: absolute;
  bottom: 2%;
  display: block;
  margin-left: 50%;
}
