<div class="sidenavContent">
  <mat-toolbar class="sidenavTitle"> Menu </mat-toolbar>
  <mat-button-toggle-group class="wrapper" vertical>

      <mat-button-toggle class="navigateButton1" (click)='naviguate("/private")'> Accueil </mat-button-toggle>
      <mat-button-toggle class="navigateButton2" (click)='naviguate("/private/calendar")'> Planning </mat-button-toggle>
      <mat-button-toggle class="navigateButton3" (click)='naviguate("/private/events")'> Evénements </mat-button-toggle>
      <mat-button-toggle class="navigateButton4" (click)='naviguate("/private/speakers")'> Speakers </mat-button-toggle>

      <mat-icon class="navigateIcon1" (click)='naviguate("/private")'>home</mat-icon>
      <mat-icon class="navigateIcon2" (click)='naviguate("/private/calendar")'>event</mat-icon>
      <mat-icon class="navigateIcon3" (click)='naviguate("/private/events")'>event_note</mat-icon>
      <mat-icon class="navigateIcon4" (click)='naviguate("/private/speakers")'>keyboard_voice</mat-icon>

  </mat-button-toggle-group>
</div>
