.content-page-menu{
  background-color: #FFECDE;
  position: relative;
  display: inline-block;
  width: 37.5rem;
  height: 18.75rem;
  left: 30%;
  margin-top: 3.125rem;
  text-align: center;
  justify-content: center;
}

.bcg {
  background: url('../../../../assets/IMG_0889.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
