<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id='toggleButton'><button mat-button (click)="sidenav.toggle()"><mat-icon>arrow_forward_ios</mat-icon></button></div>
    <app-navbar></app-navbar>
    <div class="bcg">
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




