<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content id="content">
    <div class="bcg">
      <div class="insideContent">
        <div class="boxContent">
          <div id='toggleButton'>
            <button class="sidenavToggleButton" mat-button (click)="sidenav.toggle()">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
          <h2>
            Liste des tous les speakers
          </h2>

          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Prénom</th>
              <td mat-cell *matCellDef="let speaker">
                <span *ngIf="speaker!==editingSpeaker" (click)="editSpeaker(speaker)">{{ speaker.name }}</span>
                <div *ngIf="speaker===editingSpeaker">
                  <input matInput #tableName [(ngModel)]="speaker.name" max="100" [formControl]="tableNameControl"
                         (blur)="updateSpeaker()" class="inputTable">
                  <mat-hint align="end">{{tableName.value.length}}/ 100</mat-hint>
                  <mat-error *ngIf="tableNameControl.hasError('required')">Le prénom est obligatoire</mat-error>
                  <mat-error *ngIf="tableNameControl.hasError('maxlength')">Vous avez dépassé les 100 caractères
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let speaker">
                <span *ngIf="speaker!==editingSpeaker" (click)="editSpeaker(speaker)">{{ speaker.surname }}</span>
                <div *ngIf="speaker===editingSpeaker">
                  <input matInput #tableSurname [(ngModel)]="speaker.surname" max="100"
                         [formControl]="tableSurnameControl"
                         (blur)="updateSpeaker()" class="inputTable">
                  <mat-hint align="end">{{tableSurname.value.length}}/ 100</mat-hint>
                  <mat-error *ngIf="tableSurnameControl.hasError('required')">
                    Le nom de famille est obligatoire
                  </mat-error>
                  <mat-error *ngIf="tableSurnameControl.hasError('maxlength')">Vous avez dépassé les 100 caractères
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="mail">
              <th mat-header-cell *matHeaderCellDef>Mail</th>
              <td mat-cell *matCellDef="let speaker">
                <span *ngIf="speaker!==editingSpeaker" (click)="editSpeaker(speaker)">{{ speaker.mail }}</span>
                <div *ngIf="speaker===editingSpeaker">
                  <input matInput #tableMail [(ngModel)]="speaker.mail" max="300" [formControl]="tableMailControl"
                         (blur)="updateSpeaker()" class="inputTable">
                  <mat-hint align="end">{{tableMail.value.length}}/ 300</mat-hint>
                  <mat-error *ngIf="tableMailControl.hasError('required')">
                    L'email est obligatoire
                  </mat-error>
                  <mat-error *ngIf="tableMailControl.hasError('email')">
                    Veuillez saisir une adresse mail valide
                  </mat-error>
                  <mat-error *ngIf="tableMailControl.hasError('maxlength')">Vous avez dépassé les 300 caractères
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="organization">
              <th mat-header-cell *matHeaderCellDef>Organisation</th>
              <td mat-cell *matCellDef="let speaker">
                <span *ngIf="speaker!==editingSpeaker"
                      (click)="editSpeaker(speaker)">{{ speaker.organization.name }}</span>
                <mat-select *ngIf="speaker===editingSpeaker" placeholder="Speaker"
                            [(ngModel)]="selectedOrganization" (change)="updateOrganization()">
                  <mat-option *ngFor='let organization of organizations' [value]="organization"
                              (click)="updateOrganization()">
                    {{ organization.name }}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Supprimer</th>
              <td mat-cell *matCellDef="let speaker">
                <button mat-button (click)="deleteSpeaker(speaker)">X</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky : true "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          <h2>Ajouter un speaker</h2>

          <form [formGroup]="speakerForm" (ngSubmit)="addSpeaker()" id="speakerForm" novalidate>
            <mat-form-field class="example-full-width">
              <input #name matInput formControlName="name" placeholder="Name" max="100"/>
              <mat-hint align="end">{{name.value.length}}/ 100</mat-hint>
              <mat-error *ngIf="hasError('name', 'required')">Le prénom est obligatoire</mat-error>
              <mat-error *ngIf="hasError('name', 'maxlength')">Vous avez dépassé les 100 caractères</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input #surname matInput formControlName="surname" placeholder="Surname" max="100"/>
              <mat-hint align="end">{{surname.value.length}}/ 100</mat-hint>
              <mat-error *ngIf="hasError('surname', 'required')">Le nom de famille est obligatoire</mat-error>
              <mat-error *ngIf="hasError('surname', 'maxlength')">Vous avez dépassé les 100 caractères</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input #mail matInput formControlName="mail" type="email" placeholder="mail" max="300"/>
              <mat-hint align="end">{{mail.value.length}}/ 300</mat-hint>
              <mat-error *ngIf="hasError('mail', 'required')">L'email est obligatoire</mat-error>
              <mat-error *ngIf="hasError('mail', 'email')">Veuillez saisir une adresse mail valide</mat-error>
              <mat-error *ngIf="hasError('mail', 'maxlength')">Vous avez dépassé les 100 caractères</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select formControlName="organization" placeholder="Organization">
                <mat-option *ngFor="let organization of organizations" [value]="organization.id_organization">
                  {{ organization.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hasError('organization', 'required')">L'organisation est obligatoire</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
