body {
  margin-left: 2.5%;
}

table {
  width: 90%;
  table-layout: fixed;
}

.inputTable{
  border-left: solid;
  border-left-color: #8c8e91;
  background-color: #eaecef;
}

.bcg {
  background: url('../../../../assets/IMG_0889.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.example-full-width {
  width: 100%;
}

#eventForm {
  width: 80%;
}

#speakerForm {
  width: 90%;
}

.insideContent{
  margin: -1.2rem 10% auto;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  width: 90%;
}
