#events {
  position: relative;
  display: inline-block;
  margin-bottom: 10%;
  margin-left: 15%;
  width: 70%;

}

table {
  position: absolute;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.insideContent{
  background-color: #e7e7e7 !important;
  margin: -1.2rem 10% auto;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  bottom: auto;
}

.boxContent{
  margin-left: 2%;
}

.calendar {
  position: relative;
  display: inline-block;
  width: 70%;
  margin-left: 15%;
  background-color: #e0e0e0;
}

.bcg {
  background: url('../../../../assets/IMG_0889.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
