<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content id="content">
    <div class="bcg">
      <div class="insideContent">
        <div class="boxContent">
          <div id='toggleButton'>
            <button class="sidenavToggleButton" mat-button (click)="sidenav.toggle()">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
          <div class='calendar'>
            <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
                <button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" mat-icon-button>
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </mat-grid-tile>
              <h2 id="title">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h2>
              <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
                <button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" mat-icon-button>
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>

            <mwl-calendar-month-view
              [viewDate]="viewDate"
              [events]="callEvents"
              [locale]="locale"
              [weekStartsOn]="weekStartsOn"
              [weekendDays]="weekendDays"
              [refresh]="refresh">
            </mwl-calendar-month-view>
          </div>

          <div id='events'>
            <h2>Liste de tous les événements</h2>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Titre</th>
                <td mat-cell *matCellDef="let event">{{ event.name }}</td>
              </ng-container>
              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Début</th>
                <td mat-cell *matCellDef="let event">{{ event.dateStart }}</td>
              </ng-container>
              <ng-container matColumnDef="hourStart">
                <th mat-header-cell *matHeaderCellDef>Heure de début</th>
                <td mat-cell *matCellDef="let event" dateFormat="Y-m-dTH:i">{{ event.hourStart }}</td>
              </ng-container>
              <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>Fin</th>
                <td mat-cell *matCellDef="let event">{{ event.dateEnd }}</td>
              </ng-container>
              <ng-container matColumnDef="hourEnd">
                <th mat-header-cell *matHeaderCellDef>Heure de fin</th>
                <td mat-cell *matCellDef="let event" dateFormat="Y-m-dTH:i">{{ event.hourEnd }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


