<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar>

    </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content id='content'>
    <div class="bcg">
      <div class="insideContent">
        <div class="boxContent">
          <div id='toggleButton'>
            <button class="sidenavToggleButton" mat-button (click)="sidenav.toggle()">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>

          <h2>Liste des tous les événements</h2>

          <div>
            <p> Il est : {{ today | date:'HH:mm'}}</p>
          </div>


          <table mat-table [dataSource]="dataSource" id="eventTable">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent" (click)="editEvent(event)">{{ event.name }}</span>
                <div *ngIf="event===editingEvent">
                  <input #tableName matInput [(ngModel)]="event.name" max="100" [formControl]="tableNameControl"
                         (blur)="updateEvent()" class="inputTable"/>
                  <mat-hint align="end">{{tableName.value.length}}/ 100</mat-hint>
                  <mat-error *ngIf="tableNameControl.hasError('required')">Le nom est obligatoire</mat-error>
                  <mat-error *ngIf="tableNameControl.hasError('maxlength')">Vous avez dépassé les 100 caractères
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent" (click)="start(event)"> {{ event.description }} </span>
                <div *ngIf="event===editingEvent">
                  <input #tableDesc matInput [(ngModel)]="event.description" max="250"
                         [formControl]="tableDescControl"
                         (blur)="updateEvent()" class="inputTable">
                  <mat-hint align="end">{{tableDesc.value.length}}/ 100</mat-hint>
                  <mat-error *ngIf="tableDescControl.hasError('required')">La description est obligatoire</mat-error>
                  <mat-error *ngIf="tableDescControl.hasError('maxlength')">Vous avez dépassé les 100 caractères
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="dateStart">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent" (click)="editEvent(event)">{{ event.dateStart }}</span>
                <div *ngIf="event===editingEvent">
                  <input matInput [matDatepicker]="tablePicker" [(ngModel)]="event.dateStart"
                         [formControl]="tableDateStartControl">
                  <mat-datepicker-toggle matSuffix [for]="tablePicker"></mat-datepicker-toggle>
                  <mat-datepicker #tablePicker></mat-datepicker>
                  <mat-error *ngIf="tableDateStartControl.hasError('required')">La date de début est obligatoire
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="hourStart">
              <th mat-header-cell *matHeaderCellDef>Heure de début</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent" (click)="editEvent(event)">{{ event.hourStart }}</span>
                <div *ngIf="event===editingEvent" class="buttonToggleTable">
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                    <mat-button-toggle (click)="updateHour('tableHourStart', '+')">
                      <mat-icon>expand_less</mat-icon>
                    </mat-button-toggle>
                    <input matInput type="number" [(ngModel)]="editingStartHour" [formControl]="tableHourStartControl"
                           (blur)="updateEvent()" class="hourInput"/>
                    <mat-button-toggle (click)="updateHour('tableHourStart', '-')">
                      <mat-icon>expand_more</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                    <mat-button-toggle (click)="updateHour('tableMinStart', '+')">
                      <mat-icon>expand_less</mat-icon>
                    </mat-button-toggle>
                    <input matInput type="number" min="0" max="59" [(ngModel)]="editingStartMin"
                           [formControl]="tableMinStartControl"
                           (blur)="updateEvent()" class="hourInput"/>
                    <mat-button-toggle (click)="updateHour('tableMinStart', '-')">
                      <mat-icon>expand_more</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error
                    *ngIf="tableHourStartControl.hasError('required') || tableMinStartControl.hasError('required')">
                    L'heure de début est obligatoire
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="dateEnd">
              <th mat-header-cell *matHeaderCellDef>Date de fin</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent" (click)="editEvent(event)">{{ event.dateEnd }}</span>
                <div *ngIf="event===editingEvent">
                  <input matInput [matDatepicker]="tablePicker2" [(ngModel)]="event.dateEnd">
                  <mat-datepicker-toggle matSuffix [for]="tablePicker2"></mat-datepicker-toggle>
                  <mat-datepicker #tablePicker2></mat-datepicker>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="hourEnd">
              <th mat-header-cell *matHeaderCellDef>Heure de fin</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent" (click)="editEvent(event)">{{ event.hourEnd }}</span>
                <div *ngIf="event===editingEvent" class="buttonToggleTable">
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                    <mat-button-toggle (click)="updateHour('tableHourEnd', '+')">
                      <mat-icon>expand_less</mat-icon>
                    </mat-button-toggle>
                    <input matInput type="number" min="0" max="23" [(ngModel)]="editingEndHour"
                           [formControl]="tableHourEndControl"
                           (blur)="updateEvent()" class="hourInput"/>
                    <mat-button-toggle (click)="updateHour('tableHourEnd', '-')">
                      <mat-icon>expand_more</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                    <mat-button-toggle (click)="updateHour('tableMinEnd', '+')">
                      <mat-icon>expand_less</mat-icon>
                    </mat-button-toggle>
                    <input matInput type="number" min="0" max="59" [(ngModel)]="editingEndMin"
                           [formControl]="tableMinEndControl"
                           (blur)="updateEvent()" class="hourInput"/>
                    <mat-button-toggle (click)="updateHour('tableMinEnd', '-')">
                      <mat-icon>expand_more</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error
                    *ngIf="tableHourEndControl.hasError('required') || tableMinEndControl.hasError('required')">
                    L'heure de fin est obligatoire
                  </mat-error>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="speaker">
              <th mat-header-cell *matHeaderCellDef>Speaker</th>
              <td mat-cell *matCellDef="let event">
                <span *ngIf="event!==editingEvent && event.speaker != undefined && event.speaker.name != undefined"
                      (click)="editEvent(event)"> {{ event.speaker.name }} </span>
                <mat-select *ngIf="event===editingEvent" placeholder="Speaker"
                            [(ngModel)]="selectedSpeaker" (change)="updateSpeaker()">
                  <mat-option *ngFor="let speaker of speakers" [value]="speaker" (click)="updateSpeaker()">
                    {{ speaker.name }}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Supprimer</th>
              <td mat-cell *matCellDef="let event">
                <button mat-button (click)="openSnackBar('Supprimer cet evenement ?','Valider', event)">X</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Modifier</th>
              <td mat-cell *matCellDef="let event">
                <p> {{ event.id_event }} </p>
                <button *ngIf="event!==editingEvent" mat-button (click)="editEvent(event)">
                  <mat-icon>create</mat-icon>
                </button>
                <button *ngIf="event==editingEvent" mat-button (click)="updateEvent()">
                  <mat-icon>create</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky : true "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          <h2>Ajouter un événement</h2>

          <section class="example-section">
            <mat-radio-group>
              <mat-radio-button (change)="selectForm($event)" onclick="initHourInput()" class="example-margin"
                                value="salon">Salon
              </mat-radio-button>
              <mat-radio-button (change)="selectForm($event)" onclick="initHourInput()" class="example-margin"
                                value="conf">Conference
              </mat-radio-button>
            </mat-radio-group>
          </section>

          <form [formGroup]="eventForm" (ngSubmit)="addEvent()" id="eventForm" [hidden]="eventFormHidden">

            <mat-form-field class="example-full-width">
              <input matInput maxlength="100" #eventName formControlName="name" placeholder="Nom"/>
              <mat-hint align="end">{{eventName.value.length}} / 100</mat-hint>
              <mat-error *ngIf="hasErrorEvent('name', 'required')">Le nom est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput #eventDesc maxlength="250" formControlName="description" placeholder="Description"/>
              <mat-hint align="end">{{eventDesc.value.length}} / 250</mat-hint>
              <mat-error *ngIf="hasErrorEvent('description', 'required')">La description est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input formControlName="date" matInput [matDatepicker]="picker1" placeholder="Date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="hasErrorEvent('date', 'required')">La date est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyHour(eventHourStart, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #eventHourStart formControlName="hourStart" placeholder="Heure de début"
                       type="number" min="0" max="23" class="hourInput"/>
                <mat-button-toggle (click)="modifyHour(eventHourStart, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyMin(eventMinStart, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #eventMinStart formControlName="minStart" placeholder="Heure de début"
                       type="number" min="0" max="50" class="hourInput"/>
                <mat-button-toggle (click)="modifyMin(eventMinStart, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="hasErrorEvent('minStart', 'required') || hasErrorEvent('hourStart', 'required')">L'heure
                de début est obligatoire
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyHour(eventHourEnd, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #eventHourEnd formControlName="hourEnd" placeholder="Heure de fin" type="number"
                       min="0" max="23" class="hourInput"/>
                <mat-button-toggle (click)="modifyHour(eventHourEnd, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyMin(eventMinEnd, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #eventMinEnd formControlName="minEnd" placeholder="Heure de fin" type="number"
                       min="10" max="50" class="hourInput"/>
                <mat-button-toggle (click)="modifyMin(eventMinEnd, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="hasErrorEvent('minEnd', 'required') || hasErrorEvent('hourEnd', 'required')">L'heure de
                fin est obligatoire
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select formControlName="speaker" placeholder="Speaker">
                <mat-option *ngFor="let speaker of speakers" [value]="speaker.id_speaker">
                  {{ speaker.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hasErrorEvent('speaker', 'required')">Le speaker est obligatoire</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
          </form>

          <form [formGroup]="salonForm" (ngSubmit)="addSalon()" id="salonForm" [hidden]="salonFormHidden" novalidate>

            <mat-form-field class="example-full-width">
              <input matInput maxlength="100" #salonName formControlName="name" placeholder="Nom"/>
              <mat-hint align="end">{{salonName.value.length}} / 100</mat-hint>
              <mat-error *ngIf="hasErrorSalon('name', 'required')">Le nom est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput #salonDesc maxlength="250" formControlName="description" placeholder="Description"/>
              <mat-hint align="end">{{salonDesc.value.length}} / 250</mat-hint>
              <mat-error *ngIf="hasErrorSalon('description', 'required')">La description est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input formControlName="dateStart" matInput [matDatepicker]="picker2" placeholder="Date de début">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="hasErrorSalon('dateStart', 'required')">La date de début est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyHour(salonHourStart, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #salonHourStart formControlName="hourStart" placeholder="Heure de début" type="number"
                       min="0" max="23" class="hourInput"/>
                <mat-button-toggle (click)="modifyHour(salonHourStart, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyMin(salonMinStart, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #salonMinStart formControlName="minStart" placeholder="Heure de début" type="number"
                       min="10" max="50" class="hourInput"/>
                <mat-button-toggle (click)="modifyMin(salonMinStart, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="hasErrorSalon('hourStart', 'required') || hasErrorEvent('minStart', 'required')">L'heure
                de début est obligatoire'
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input formControlName="dateEnd" matInput [matDatepicker]="picker" placeholder="Date de fin">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyHour(salonHourEnd, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #salonHourEnd formControlName="hourEnd" placeholder="Heure de fin" type="number"
                       min="0" max="23" class="hourInput"/>
                <mat-button-toggle (click)="modifyHour(salonHourEnd, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="modifyMin(salonMinEnd, '+')">
                  <mat-icon>expand_less</mat-icon>
                </mat-button-toggle>
                <input matInput #salonMinEnd formControlName="minEnd" placeholder="Heure de fin" type="number"
                       min="10" max="50" class="hourInput"/>
                <mat-button-toggle (click)="modifyMin(salonMinEnd, '-')">
                  <mat-icon>expand_more</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="hasErrorSalon('hourEnd', 'required') || hasErrorSalon('minEnd', 'required')">L'heure de
                fin est obligatoire
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
