body {
  margin-left: 2.5%;
}

.insideContent{
  margin: -1.2rem 10% auto;
}


#eventForm {
  width: 90%;
  margin-left: 4%;
}

#salonForm {
  width: 90%;
  margin-left: 4%;
}

table {
  width: 90%;
  table-layout: fixed;
  margin-left: 4%;
}
.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.inputTable{
  border-left: solid;
  border-left-color: #8c8e91;
  background-color: #eaecef;
}

.hourInput{
  text-align: center;
}

#eventTable>tbody>tr>td{
  max-width: 10%;
}

.buttonToggleTable>mat-button-toggle-group{
  float: left !important;
  width: 45%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 2%;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  width: 90%;
  margin-left: 4%;
}

.bcg {
  background: url('../../../../assets/IMG_0889.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
